@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/piskvorky/">Piškvorky</a><br/>

    <a href="/User/Login">Přihlásit se</a><br/>
    <a href="/User/Register">Zaregistrovat se</a><br/>
</div>