@{
    ViewData["Title"] = "Login";
}
<h2>Login page</h2>

@{
    if ()
    {
        
    }
}

<form method="post" action="/User/Login" class="user-form">
    <input type="text" name="Username" value="" placeholder="Your username">
    <input type="password" name="Password" value="" placeholder="Your password"/>
    <input type="submit" value="login"/>
</form>