@{
    ViewData["Title"] = "Register";
}
<div class="text-center">
<h2>Registration Page</h2>

<form method="post" action="/User/Register" class="user-form">
    <input type="text" name="Username" value="" placeholder="Your username">
    <input type="email" name="Email" value="" placeholder="Your email">
    <input type="password" name="Password" value="" placeholder="Your password"/>
</form>

</div>